<div class="page-header">
  <h2>Update Entry</h2>
</div>

<%= render 'form' %>

<%= link_to 'Go Back to Bibliography', edit_course_bibliography_path(@bibliography.course, @bibliography) %>

<div id="main_stylesheet" style="display:none;"><%= asset_path('application.css') %></div>

<script>
  var rt_editor = function() {
    tinymce.init({
      content_css: $('#main_stylesheet').html(),
      menu: { },
      selector: '#entry_annotation',
      width: 613
    });
  };

  $(document).ready(rt_editor);
  $(document).on('page:load page:restore', rt_editor);
</script>
