<% if not current_user %>

<div class="hero-unit">
  <h1>Welcome to the ABRepo.</h1>
  <p>An annotated bibliography tool for college coursework.</p>
</div>

<% else %>

<div class="page-header">
  <h2>Courses <small>Click Course Title to View</small></h2>
</div>

<% if current_user.courses_taught.count > 0 %>
  <h3>Courses Taught</h3>
  <ul>
  <% current_user.courses_taught.each do |course| %>
    <li><%= link_to course.title, course %></li>
  <% end %>
  </ul>
<% end %>

<% if current_user.enrolled_courses.count > 0 %>
  <h3>Enrolled Courses</h3>
  <ul>
  <% current_user.enrolled_courses.each do |course| %>
    <li><%= link_to course.title, course_bibliographies_path(course) %></li>
  <% end %>
  </ul>
<% end %>

<% end %>
