$tsHeaderFontStack : 'Bitter', serif
$tsBodyFontStack   : 'Open Sans', sans-serif


body
  font-family: $tsBodyFontStack
  font-size: 15px
  #{headings(all)}
    font-family: $tsHeaderFontStack
    font-weight: 400

#entry_citation
  height: 100px
  width: 500px

#entry_annotation
  height: 200px
  width: 500px
