$tsHeaderFontStack : 'Bitter', serif
$tsBodyFontStack   : 'Open Sans', sans-serif


body
  font-family: $tsBodyFontStack
  font-size: 15px
  #{headings(all)}
    font-family: $tsHeaderFontStack
    font-weight: 400

#entry_citation
  height: 100px
  width: 600px

#entry_annotation
  height: 200px
  width: 600px

.mce-content-body
  font-size: 15px
  padding: 6px

.content-section
  margin-bottom: 30px
